fastapi==0.103.2
uvicorn==0.23.2
gunicorn==21.2.0
sqlalchemy==2.0.21
sqlalchemy-libsql==0.1.0
pydantic==2.4.2
pydantic-settings==2.0.3
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
python-dotenv==1.0.0
passlib==1.7.4
google-generativeai==0.1.0rc1
Pillow==10.1.0
httpx==0.28.1
